body{
    display: block;
}
.conten{
    background-color: #cdbdf7;
   text-align: center;
    padding-block: 15%;
 
    }
    h1{
        font-size: 80px;
        color: rgb(89, 22, 151);
    }
    p{
        font-size: 35px;
        color: rgb(89, 22, 151);
    }
    button {
        width: 250px;
        height: 80px;
        background-color: blueviolet;
        color: #cdbdf7;
    }
    button:hover{
        background-color: rgb(195, 43, 226);
    }